body {
  padding: 50px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
  text-align: center;
}

a {
  color: #00B7FF;
}
h1, p {
  color: #ffffff;
}
#filler {
  width: 200px;
  height: auto;
  background-color: #E4E4E4;
  text-align: justify;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#container {
  width: 750px;
  text-align: center;
}
.container {
  color: #ffffff;
}



