 <h2 class="page-header">About</h2>
 
<table width="750px" align="center">
      <tr align="center">
      <img src="../images/wine.jpg" width="700"> 
      </tr>
      <tr align="center">
      This is the story of Eximious that we want to share with the world with all types on wine lovers. This is your source for information on wine.
      </tr>
    </table>