 <h2 class="page-header">Dashboard</h2>
 <src="../images/eximious.jpg">

<table width="750px" align="center">
      <tr align="center">
      
  
        <td>
      <div id="filler"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis iaculis diam quis faucibus. Ut blandit augue maximus lorem consequat aliquam. Duis ornare pretium arcu, non luctus risus semper eu. Vivamus at ligula urna. Pellentesque volutpat blandit mi sed venenatis. Suspendisse dictum pellentesque lacinia. Donec finibus efficitur augue, aliquam hendrerit urna condimentum ut. Aliquam in condimentum lectus. Integer commodo sodales sem, eu ultrices ipsum tincidunt eget.

        Suspendisse potenti. Mauris quis facilisis ex. Fusce ut nisi eget dui vulputate tempor. Nulla ornare facilisis quam ut rhoncus. Ut a ipsum nisi. Nullam at turpis tristique, vulputate sapien nec, efficitur sapien. Quisque varius consectetur ligula. Suspendisse potenti. Morbi sit amet dapibus turpis. Etiam eu eros in arcu pellentesque tempor. </div>
        </td>
        <td>
          <div id="filler"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis iaculis diam quis faucibus. Ut blandit augue maximus lorem consequat aliquam. Duis ornare pretium arcu, non luctus risus semper eu. Vivamus at ligula urna. Pellentesque volutpat blandit mi sed venenatis. Suspendisse dictum pellentesque lacinia. Donec finibus efficitur augue, aliquam hendrerit urna condimentum ut. Aliquam in condimentum lectus. Integer commodo sodales sem, eu ultrices ipsum tincidunt eget.

            Suspendisse potenti. Mauris quis facilisis ex. Fusce ut nisi eget dui vulputate tempor. Nulla ornare facilisis quam ut rhoncus. Ut a ipsum nisi. Nullam at turpis tristique, vulputate sapien nec, efficitur sapien. Quisque varius consectetur ligula. Suspendisse potenti. Morbi sit amet dapibus turpis. Etiam eu eros in arcu pellentesque tempor. </div>
        </td>
        <td>
          <div id="filler"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis iaculis diam quis faucibus. Ut blandit augue maximus lorem consequat aliquam. Duis ornare pretium arcu, non luctus risus semper eu. Vivamus at ligula urna. Pellentesque volutpat blandit mi sed venenatis. Suspendisse dictum pellentesque lacinia. Donec finibus efficitur augue, aliquam hendrerit urna condimentum ut. Aliquam in condimentum lectus. Integer commodo sodales sem, eu ultrices ipsum tincidunt eget.

            Suspendisse potenti. Mauris quis facilisis ex. Fusce ut nisi eget dui vulputate tempor. Nulla ornare facilisis quam ut rhoncus. Ut a ipsum nisi. Nullam at turpis tristique, vulputate sapien nec, efficitur sapien. Quisque varius consectetur ligula. Suspendisse potenti. Morbi sit amet dapibus turpis. Etiam eu eros in arcu pellentesque tempor. </div>
        </td>
      </tr>
    </table>